<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "loc-app-high-resolution-logo-black-on-transparent-background (1).png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <form action="<%=motos_path%>" method="get">
          <li class= "btn-margin">
            <div class="search-box">
              <input type="text" name="q" placeholder="Search...">
              <div class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <div class="cancel-btn">
                <i class="fa-solid fa-xmark"></i>
              </div>
            </div>
          </li>
        </form>
          <li class="nav-item">
            <%= link_to "Search", "#", class: "nav-link"  %>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Create an offer", new_moto_path, class: "dropdown-item" %>
              <%= link_to "my bookings", reservations_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
console.log("iam in navbar")
    const searchBtnNew=document.querySelector(".search-btn");
      const searchBox =document.querySelector(".search-box");
      const cancelBtn = document.querySelector(".cancel-btn");
      searchBtnNew.onclick =() => {
        searchBox.classList.add("active");
        cancelBtn.style.visibility="visible";
      }
      cancelBtn.onclick =() => {
        searchBox.classList.remove("active");
        cancelBtn.style.visibility="hidden";
      }
</script>
