<div class="banner" style="background-image:url('https://images.unsplash.com/photo-1602947572401-fc347b48f3da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vdG9zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60')">
  <div class="container py-5" >
    <h3>Vous Cherchez une moto?</h3>
    <h3>Vous etes au bon endroit</h3>
    <form action="<%=motos_path%>" method="get">
    <div class="row bg-white py-3 my-3">
      <div class= "col-4">
        <div class= "label-geo" >
              <label for="geo">Départ et lieu de retour</label>
              <input type="text" name="q" value = "" id="geo"/>
              <ul id="results"></ul>
        </div>
      </div>
      <div class= "col-4">
        <div class="label-input">
          <label for="start-time">Date et heure:</label>
          <input type="datetime-local" id="start-time" name="reservation[start_time]" value="<%= @reservation.start_time%>"
         min= "<%= (Time.now + 1.hour).strftime('%Y-%m-%dT%H:%M') %>" max = "<%= (Time.now + 1.month).strftime('%Y-%m-%dT%H:%M') %>">
        </div>
      </div>
      <div class= "col-4">
        <div class="label-input">
          <label for="fin-time">Date et heure:</label>
          <input type="datetime-local" id="fin-time" name="reservation[end_time]" value="<%= @reservation.end_time %>"
         min="<%= (Time.now + 2.hour).strftime('%Y-%m-%dT%H:%M') %>" max = "<%= (Time.now + 1.month).strftime('%Y-%m-%dT%H:%M') %>">
         <%# disabled= true %>
      </div>

      </div>
      <div >
        <input type="submit" value="Rechercher" class="home-submit">
      </div>
    </div>
    </form>
  </div>
</div>
<script>
// TODO: Autocomplete the input with AJAX calls.

const results = document.querySelector("#results");
const geo = document.querySelector("#geo");

const drawResponseList = (data) => {
  results.innerHTML = '';
  data.words.forEach((word) => {
    results.insertAdjacentHTML('beforeend', `<li>${word}</li>`);
  });
};

const autocomplete = (e) => {
  fetch(`https://wagon-dictionary.herokuapp.com/autocomplete/${e.target.value}`)
    .then(response => response.json())
    .then(data => drawResponseList(data));
};

geo.addEventListener('keyup', autocomplete);

</script>
