
<div >

<p><% @motos.each do |moto|  %></p>
<label><%=moto.title%></label>
<p><%= moto.description %></p>
<p><%= moto.photo %></p>
<p><%= moto.year %></p>

<% end %>
<%# <% if policy(Moto).new? %>
 <%= link_to "Create moto", new_moto_path %>
<%# <% end %>

</div>
