
<div id="moto_index" >

 <div class="moto-container">

    <% @motos.each do |moto| %>

        <div class ="card">

          <div class ="card-image">
              <%= image_tag moto.image_url, fit: :crop, class: "moto-image" %>
          </div>

          <div class = "card-des">
              <div class="moto-title"><%= moto.title %></div>
              <div class="moto-description"><%= moto.description %></div>
              <div class="moto-year"><strong>Year: </strong> <%= moto.year %></div>
              <div class="moto-brand"> <strong>Brand: </strong><%= moto.brand %></div>
              <div class ="moto-mileage"> <strong>Mileage: </strong><%= moto.mileage %> Kilometers</div>
              <div class ="moto-price"> <%= moto.price %> $/day</div>
              <div class ="moto-status"> <%= moto.status %></div>
              <%# <div class= "select-btn"><button>Select</button></div> %>
              <div class= "select-btn"><%= link_to "Select", moto_path(moto), class:"select" %></div>
          </div>

        </div>
    <% end %>

  </div>




<%# <% if policy(Moto).new? %>
 <%# <%= link_to "Create moto", new_moto_path %>
<%# <% end %>
</div>
