<div class="container">
  <%= simple_form_for(@moto) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :color %>
    <%= f.input :brand %>
    <%= f.input :mileage %>
    <%= f.input :year %>
    <%= f.input :price %>
    <%= f.input :image_url%>
    <%= f.submit %>
  <% end %>
</div>
