<div data-controller="reservation">
  <div class="first-div" data-reservation-target="firstDiv">
    <div class="second-div">
        <h3>Vehicule</h3>
        <div class="img-moto">
          <%# <img src="https://www.moto-honda.re/publicmedia/formatted/116/76/fr/X-ADV-Gris-mat.jpg;h=486,w=864.jpg" alt=""> %>
          <%= image_tag @moto.image_url, fit: :crop, class: "moto-img" %>
          <h4><%= @moto.title %></h4>
        </div>
        <br>
        <br>
        <div>
          <div class="style">
            <p>Description:</p>
            <p><%= @moto.description %></p>
            <%# <p><%= @end_time%>
          </div>
          <div class="style">
            <p>Availability:</p>
            <p><%= @moto.status %></p>
            <%# <p><%= @end_time%>
          </div>
      </div>
      </div>
    <div class="third-div" data-controller="edit">
      <div class="space">
        <p>Price</p>
        <p><%= @moto.price %> Mad</p>
      </div>
      <hr>
      <div class="space">
        <p>Mileage</p>
        <p><%= @moto.mileage %> Km</p>
      </div>
      <hr>
      <div class="space">
        <p>Model</p>
        <p><%= @moto.year %></p>
      </div>
      <hr>
      <div class="space">
        <p>Color</p>
        <p><%= @moto.color %></p>
      </div>
      <hr>
      <div class="links">
        <div >
          <% if policy(@moto).destroy? %>
            <%= button_to "Delete", moto_path(@moto), method: :delete, form: { data: { turbo: true, turbo_confirm: "Are you sure?" } }, class:"btn-link" %>
          <% end %>
        </div>
        <div>
          <% if policy(@moto).edit? %>
            <%# <%= link_to "Edit", edit_moto_path, class:"btn-link" %>
            <i class="fa-solid fa-pen-to-square icone"  data-action="click->edit#display"></i>
          <% end %>
        </div>
      </div>
      <div>
        <div class="d-none container form" data-edit-target="form">
          <%= simple_form_for(@moto) do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :color %>
            <%= f.input :brand %>
            <%= f.input :mileage %>
            <%= f.input :year %>
            <%= f.input :price %>
            <%= f.submit 'Update', class: 'btn-edit' %>
          <% end %>
        </div>
      </div>
    </div>
    <div style="color: #ffc107; font-size: 20px;">
      <%if @average_rating %>
        <p>
          <%= "#{'★' * @average_rating}#{'☆' * (5 - @average_rating)}" %>
          <%= @average_rating %>
        </p>
        <%end %>
      </div>
  </div>

  <div>
    <button class="avail-btn" data-action="click->reservation#resa" data-reservation-target="buttonResa">Availability</button>
  </div>

  <div class="big-div" >
    <form action="<%=moto_reservations_path(@moto, @reservation)%>" method="post"     class="div-reservation" style="display:none;" data-reservation-target="divReservation">

      <div class="start-input">
        <label for="start-time">Date et heure:</label>
        <i class="fa-regular fa-rectangle-xmark cancel" data-action="click->reservation#back"></i>
        <input type="datetime-local" id="start-time" name="reservation[start_time]" value="<%= @reservation.start_time%>"
      min= "<%= (Time.now + 1.hour).strftime('%Y-%m-%dT%H:%M') %>" max = "<%= (Time.now + 1.month).strftime('%Y-%m-%dT%H:%M') %>">
      </div>
      <div class="end-input">
        <label for="fin-time">Date et heure:</label>
        <input type="datetime-local" id="fin-time" name="reservation[end_time]" value="<%= @reservation.end_time %>" min="<%= (Time.now + 2.hour).strftime('%Y-%m-%dT%H:%M') %>" max = "<%= (Time.now + 1.month).strftime('%Y-%m-%dT%H:%M') %>" >
      </div>
      <div class="submit">
        <input type="submit" value="Reserver" class="home-submit">
      </div>
    </form>
  </div>

</div>

<div id = "rev" class ="container">

  <div class ="form-reviews">
      <h2>Reviews:</h2>
      <%= simple_form_for [@moto, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, input_html: { min: 1, max: 5 }%>
      <%= f.submit "Submit review" %>
      <% end %>
  </div>
      <%# <p>Average rating : <%= @average_rating %>
</div>
<section id="testimonials">

  <div class="testimonial-heading">
    <span>Reviews</span>
  </div>

  <div class="testimonial-box-container">
  <%@moto.reviews.each do |review| %>
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profil">
          <div class="profil-img">
            <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" alt="">
          </div>
          <div class="name-user">
            <strong><%= @user.email %></strong>
          </div>
        </div>
        <div class="review" style="color: #ffc107; font-size: 20px;">
          <%=  "#{'★' * review.rating}#{'☆' * (5 - review.rating)}"%> <%= review.rating %>
        </div>

      </div>
      <div class="client-comment">
        <p><%= review.content %> </p>
      </div>
      <div>
        <%= link_to "Delete",  review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> <%= link_to "Update", edit_review_path(review) %>
      </div>
    </div>
    <% end %>
  </div>

</section>
